DON'T TOUCH/
node_modules/
**/node_modules/
backend/ai/.venv/
ai-service/
**/ai-service/
**/__pycache__/
**/*.pyc
dist/
**/dist/
.env
**/.env
*.log
**/*.log
.cache
**/.cache
temp/
**/temp/
uploads/temp/
**/uploads/temp/
